*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;   
}

html,body{
    height: 100%;
    scroll-behavior: smooth;
}
    /* ----------------------------AQUI COMEÇA O CABEÇALHO------------------------ */

.cabecalho{
    background-image: url(../imagens/fundo.jpg);
    justify-content: space-between;
    padding: 2px 70px;
    display: flex;
    border-bottom: 2px solid black;
}

.cabecalho .navegacao .menu{
    padding: 25px 2px;
}

.cabecalho .navegacao .menu .item{
    padding: 10px;
    display: inline-block;
    display: ;
}

.cabecalho .navegacao .menu .item a{
    font-size: 18px;
    font-style: italic;   
    transition: 0.3s ease-in-out;
}

.cabecalho .navegacao .menu .item a:hover{     /* Trandformar a maneira de navegação  */
    padding: 10px;
    background-color: #fb9311;
    color: white;
    border-radius: 20px;
}
/* ----------------------------------AQUI TERMINA O CABEÇALHO------------------------------------ */

    .conteudo-principal{
        width: 100%;
        height: 330px;
        background-image: url(../imagens/img1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

   
    .conteudo-principal .painel{
        width: 400px;
        height: 200px;
        float: right;
        margin: 90px 100px ;     
    }

    .conteudo-principal .painel .titulo{
        color: white;
        text-align: center;    
        font-size: 40px;   
    }

    .conteudo-principal .painel p{
        color: white;
        margin-top: 10px;
        margin-left: 60px;
        width: 300px;
        text-align: center;
    }

/* --------------------------------------AQUI TERMINA O MAIN--------------------------------------- */
.clear{
    clear: both;
}

.conteudo-2{
    background-color: yellow;
    width: 100%;
    display: inline-block;
    height: 300px;

}

.conteudo-2 .planos{
    color: white;
     text-align: center;
}
    
    
        
    